# Telegram Bot API Token
bot:
    token: BOT_TOKEN
    parse_mode: html

# Whether to skip previous updates or not
executor:
    skip_updates: true

# Visible commands
commands:
    start: Start conversation with me