# Telegram Bot API Token
bot:
    token: {BOT_TOKEN}
    parse_mode: html

# Whether to skip previous updates or not
executor:
    skip_updates: true

# You can either use your own ID or keep it null
superusers:
    - null

# Modules to load
modules:
    - middlewares
    - handlers.start
    - handlers.errors

# Loggers to ignore.
log_ignore:
    - aiogram
    - asyncio
    - aiogram.Middleware
    - aiogram.dispatcher.dispatcher

# Visible commands
commands:
    start: Start conversation with me